<div class = "main">
  <div class="image-background" style="background-image: url('{{ file_url(paragraph.field_image.entity.uri.value) }}');">
    <div class = "main-div">
      <div class = "title">
        {{ paragraph.field_slider_title.value }}
      </div>
      <div class = "subtitle">
        {{ paragraph.field_money_subtitle.value }}
      </div>
      <div class = "description">
        {{ paragraph.field_description.value }}
      </div>
      <div class = "join">
        <div class = "bitcoin-join">
          {{ paragraph.field_about_us.0.title }}
        </div>
      </div>
    </div>
  </div>
</div>